.prompt-helper {
	height: 100vh;

	color: #cacdd3;
	background-color: rgba(0, 0, 0, 0.7);

	-webkit-app-region: no-drag;
	.header {
		position: relative;

		height: 40px;

		cursor: move;

		border-bottom: 1px solid #828282;

		-webkit-app-region: drag;

		h1 {
			display: flex;
			align-items: center;
			justify-content: center;

			height: 100%;

			letter-spacing: 3px;

			font-size: 19px;
		}

		.operate {
			position: absolute;
			top: 0;
			left: 100%;

			display: flex;
			align-items: center;
			justify-content: flex-end;

			width: 100%;
			height: 39px;
			padding: 0 10px;

			transition: all 0.3s;

			background-color: rgba(0, 0, 0, 0.8);
		}

		&:hover {
			.operate {
				left: 0;
			}
		}
	}

	.body {
		height: calc(100% - 40px);
		.title {
			padding: 10px;

			font-size: 18px;
			font-weight: normal;
		}

		.content-list {
			overflow: auto;

			height: calc(100% - 38px);
			padding: 0 10px;
			ul {
				font-size: 16px;
				> li {
					padding-bottom: 15px;

					line-height: 1.5;
					ol {
						display: flex;
						flex-wrap: wrap;

						gap: 10px;
					}
				}
			}
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}
	}
}
