.barrage-helper-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 10px;

	cursor: move;

	border-bottom: 1px solid #828282;

	-webkit-app-region: drag;
	.up-info {
		display: flex;

		gap: 10px;
		li {
			span {
				color: #999;
			}
		}
	}
	.operate {
		display: flex;

		gap: 9px;
		.arco-icon {
			cursor: pointer;
			transition: all 0.3s;

			color: #999;

			font-size: 17px;

			-webkit-app-region: no-drag;

			&.arco-icon-penetrate {
				transform: translateY(0.5px);

				font-size: 15.5px;
			}

			&:hover {
				color: #fff;
			}

			&.active {
				color: rgb(var(--primary-6));
			}

			&.arco-icon-close:hover {
				color: rgb(var(--danger-6));
			}
		}
	}
}
