.music-helper {
	position: relative;

	height: 100vh;

	user-select: none;

	-webkit-app-region: drag;

	.header {
		height: 20px;

		background-color: transparent;
	}

	.music-cover {
		position: absolute;
		z-index: 99;
		top: 0;
		left: 20px;

		overflow: hidden;

		width: 75px;
		height: 75px;

		cursor: pointer;

		border-radius: 50%;

		span {
			position: absolute;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			height: 100%;

			color: var(--color-white);
			background-color: var(--color-fill-4);

			font-size: 18px;
		}

		img {
			width: 100%;
			height: 100%;

			animation: rotateImage 8s linear infinite;
		}

		.operate {
			position: absolute;
			top: 0;
			left: 0;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			height: 100%;

			transition: all 0.3s;

			opacity: 0;
			color: rgba(255, 255, 255, 0.62);
			background-color: rgba(0, 0, 0, 0.6);

			font-size: 32px;

			-webkit-app-region: no-drag;

			svg:hover {
				transition: 0.5s;

				color: #fff;
			}
		}

		&:hover {
			.operate {
				opacity: 1;
			}
		}

		@keyframes rotateImage {
			from {
				transform: rotate(0);
			}

			to {
				transform: rotate(360deg);
			}
		}
	}

	.content {
		position: relative;

		overflow: hidden;

		height: calc(100% - 20px);

		border-radius: 10px;
		background-position: center;
		background-size: cover;

		.inner-content {
			position: absolute;
			z-index: 10;

			width: 100%;
			height: 100%;
			padding: 15px 20px;

			color: #fff;

			.music-info {
				display: flex;
				flex-direction: column;

				padding-left: 95px;

				text-align: center;

				gap: 10px;

				.name,
				.singer {
					overflow: hidden;

					white-space: nowrap;
					text-overflow: ellipsis;
				}

				.name {
					font-size: 15px;
				}
			}

			.other-info {
				display: flex;
				justify-content: space-between;

				margin-top: 10px;

				gap: 15px;
			}

			.lyric {
				overflow: hidden;

				margin: 10px 0;

				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.arco-slider {
				flex: 1;

				transform: translateY(-0.5px);

				-webkit-app-region: no-drag;
			}

			.song-list {
				height: 20px;

				text-align: center;

				line-height: 20px;

				.has-song {
					display: flex;
					justify-content: space-between;

					height: 100%;

					::v-deep(.arco-carousel) {
						flex: 1;

						height: 100%;

						.arco-carousel-slide {
							> div {
								overflow: hidden;

								white-space: nowrap;
								text-overflow: ellipsis;

								opacity: 0;

								&.arco-carousel-item-current {
									opacity: 1;
								}
							}
						}

						.arco-carousel-indicator-wrapper {
							display: none;
						}
					}
				}

				.no-song {
					color: var(--color-text-3);
				}
			}

			::v-deep(.arco-spin) {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;

				height: 100%;

				font-size: 16px;

				.arco-spin-icon {
					color: #fff;
				}

				.arco-spin-tip {
					color: #fff;

					font-size: 15px;
				}
			}
		}

		&::before,
		&::after {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			content: "";
		}

		&::before {
			background: inherit;

			filter: blur(2px);
		}

		&::after {
			background-color: rgba(0, 0, 0, 0.6);
		}
	}
}
